<div class="d-flex flex-column justify-content-center align-items-center min-vh-100" style="background-image: url(https://cdn.wallpapersafari.com/10/71/8rbdy5.jpg);">
    <h1 class="text-decoration-underline">Form Data CRUD Operation</h1>
    <ol class="fs-5 fw-bold mt-3">
        <li>C - Data entered will be added (entering data)</li>
        <li>R - Data entered will be read (When add button click)</li>
        <li>U - Data entered will be updated (on edit button click)</li>
        <li>D - Data entered will be deleted (on delete button click)</li>
    </ol>
    <button class="btn btn-outline-dark mt-3 px-5 fw-bold" routerLink="/form">Visit site  <i class="bi bi-arrow-right-circle-fill"></i></button>
</div>